# Ansible

hosts.yml
*.retry
ansible-micado.log

# Credentials

credentials-cloud-api.yml
credentials-docker-registry.yml
credentials-micado.yml

# Example

testing/nginx/nginx.yaml
testing/nginx-firewall/nginx.yaml
testing/stressng/stressng.yaml
testing/wordpress/wordpress.yaml

testing/cqueue/_settings
testing/nginx/_settings
testing/nginx-firewall/_settings
testing/stressng/_settings
testing/wordpress/_settings
