---
- name: '(KubeEdge) Check if initialised'
  stat:
    path: /etc/kubeedge
  register: etc_edge

- name: (KubeEdge) Download and unzip
  unarchive:
    src: https://github.com/kubeedge/kubeedge/releases/download/v{{ packages.kube_edge }}/keadm-v{{ packages.kube_edge }}-linux-amd64.tar.gz
    dest: /etc/kubernetes
    remote_src: yes
  when: not etc_edge.stat.exists

- name: '(KubeEdge) KubeEdge init'
  command: /etc/kubernetes/keadm-v{{ packages.kube_edge }}-linux-amd64/keadm/keadm init
        --kube-config /root/.kube/config
        --kubeedge-version="{{ packages.kube_edge }}"
  register: keadm
  when: not etc_edge.stat.exists

- name: (KubeEdge) Print keadm stdout
  debug:
    msg: "{{ keadm.stdout }}"

- name: (KubeEdge) Print keadm stderr
  debug:
    msg: "{{ keadm.stderr }}"