*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
:FILTERS - [0:0]
:DOCKER-USER - [0:0]

-F INPUT
-F DOCKER-USER
-F FILTERS

-A INPUT -i lo -j ACCEPT
-A INPUT -p icmp --icmp-type any -j ACCEPT
-A INPUT -j FILTERS

-A DOCKER-USER -j FILTERS

-A FILTERS -m state --state ESTABLISHED,RELATED -j ACCEPT

-A FILTERS -m state --state NEW -i lo -j ACCEPT
-A FILTERS -m state --state NEW -s 172.27.0.0/16  -j ACCEPT

-A FILTERS -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT
#management web interface
-A FILTERS -m state --state NEW -m tcp -p tcp --dport {{ web_listening_port }} -j ACCEPT
-A FILTERS -m state --state NEW -d 172.27.0.0/16 -p tcp --dport 443 -j ACCEPT
#k3s
-A FILTERS -m state --state NEW -m tcp -p tcp --dport 6443 -j ACCEPT
-A FILTERS -m state --state NEW -m tcp -p tcp --dport 10250 -j ACCEPT
#cni
-A FILTERS -m state --state NEW -i cni0 -j ACCEPT
-A FILTERS -m state --state NEW -o cni0 -j ACCEPT
#wireguard
-A FILTERS -m state --state NEW -m udp -p udp --dport 51820 -j ACCEPT

-A FILTERS -j LOG --log-prefix="FILTERS DROP: "
-A FILTERS -j REJECT --reject-with icmp-host-prohibited

COMMIT
