"Username","Email","Password"
"{{ security.authentication.username | default('admin') }}","{{ security.authentication.email | default('root@'+ansible_hostname) }}","{{ security.authentication.password | default("admin") }}"
