[Unit]
Description=MiCADO
After=docker.service
Requires=docker.service

[Service]
User=root
Type=simple
ExecStart=/usr/local/bin/docker-compose -f /var/lib/micado/docker-compose.yml up
StandardOutput=syslog
StandardError=syslog

ExecStop=/usr/local/bin/docker-compose -f /var/lib/micado/docker-compose.yml stop
TimeoutStartSec=60min

[Install]
WantedBy=multi-user.target

