#cloud-config
apt_upgrade: false
apt_update: false
manage_etc_hosts: false
package_update: false
package_upgrade: false

write_files:

- path: /tmp/wait-updates.sh
  permissions: '755'
  content: |
    #!/bin/bash

    while [[ `ps aufx | grep -v "grep" | grep "apt.systemd.daily" | wc -l` -gt 0 ]]; do
      sleep 1
    done

# This script fix the format of cert bundle, and split it into two separate files and copy them to the correct directory
# Occopus should do this.
- path: /tmp/run_split.sh
  permissions: '755'
  content: |
      #!/bin/bash
      /tmp/split_certs.sh $(< /tmp/tmp_certs)

# This script fix the format of cert bundle, and split it into two separate files and copy them to the correct directory
# Occopus should do this.
- path: /tmp/split_certs.sh
  permissions: '755'
  content: |
      #!/bin/bash
      while (( $# )); do if [[ $1 == -----* ]]; then while [[ $1 != *----- ]]; do printf "%s " $1; shift; done; fi; echo $1; shift; done | awk 'BEGIN { of="/etc/ipsec.d/private/node.key" } { print >of } /^-----END/ { of="/etc/ipsec.d/certs/node.crt" }'

# This script fix the format of CA, and copy it to the correct directory
# Occopus should do this.
- path: /tmp/modify_ca.sh
  permissions: '755'
  content: |
      #!/bin/bash
      fmt -w 35 /etc/ipsec.d/cacerts/master.pem |
      awk 'BEGIN { of="/etc/ipsec.d/cacerts/new_master.pem" } { print >of } /^-----END/'


- path: /etc/ipsec.conf
  content: |
    conn iptunnel
       type=transport
       compress=yes
       fragmentation=yes
       keyexchange=ikev2
       authby=pubkey
       leftcert=node.crt
       left=local
       right={{ ansible_default_ipv4.address }}
       rightid="CN=masternode.micado"
       auto=start

- path: /etc/ipsec.secrets
  content: | {% raw %}
    : RSA 'node.key'
    {% endraw %}

- path: /etc/ipsec.d/cacerts/master.pem
  content: | {% raw %}
      {{ '{{' }}cmd('cat /var/lib/micado/occopus/data/master.pem'){{ '}}' }}
    {% endraw %}

- path: /tmp/tmp_certs
  content: | {% raw %}
      {{ '{{' }}cmd('curl -X POST http://10.97.170.199:5003/v1.0/nodecerts'){{ '}}' }}
    {% endraw %}

runcmd:
  - /tmp/wait-updates.sh
  - while [ -z $IP ]; do IP=`ip -oneline -4 addr show scope global | tr -s ' ' | tr '/' ' ' | grep -v dock | grep -v br- | cut -f 4 -d ' ' | sed 's/\./-/g'`; done
  - hostname={{ '{{ worker_name }}' }}-$IP
  - oldhostname=$(hostname -s)
  - sed -i "s/$oldhostname//g" /etc/hosts
  - sed -i "s/\b127.0.0.1 localhost/127.0.0.1 localhost\\t$hostname/g" /etc/hosts
  - hostnamectl set-hostname $hostname
  - dpkg-reconfigure openssh-server
  - echo nameserver 8.8.8.8 >> /etc/resolvconf/resolv.conf.d/head
  - resolvconf -u

  # Docker

  - apt-get update
  - apt-get install -y --no-install-recommends apt-transport-https ca-certificates curl software-properties-common wget
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -
  - add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - apt-get update
  - apt-get install -y {{ packages.docker_ce }} {{ packages.docker_ce_cli }} {{ packages.containerd_io }}
  - apt-mark hold docker-ce docker-ce-cli containerd.io
  - systemctl enable docker
  - sed -i -e "s/-H fd:\/\//-H fd:\/\/ --mtu={{ ansible_default_ipv4.mtu }}/g" /lib/systemd/system/docker.service
  - systemctl daemon-reload
  - systemctl restart docker.service

  # K8s

  - swapoff -a
  - curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add -
  - touch /etc/apt/sources.list.d/kubernetes.list
  - bash -c 'echo "deb http://apt.kubernetes.io/ kubernetes-xenial main" > /etc/apt/sources.list.d/kubernetes.list'
  - apt-get update
  - apt-get install -y kubelet={{ packages.kubernetes_version }} kubeadm={{ packages.kubernetes_version }} kubectl={{ packages.kubernetes_version }}
  - apt-mark hold kubelet kubeadm kubectl

  # Auto-label k8s nodes

  - touch /etc/systemd/system/kubelet.service.d/20-labels.conf
  - echo '[Service]' >> /etc/systemd/system/kubelet.service.d/20-labels.conf
  - echo 'Environment="KUBELET_EXTRA_ARGS=--node-labels=micado.eu/node_type={{ '{{ worker_name }}' }}"' >> /etc/systemd/system/kubelet.service.d/20-labels.conf
  - systemctl daemon-reload

  # Install strongSwan

  - apt-get install -o Dpkg::Options::="--force-confold" --force-yes -y strongswan
  - systemctl enable strongswan

  # Connect to cluster

  - {{ join_command.stdout }}

  # These removes the temporary scripts, certs and

  - /tmp/run_split.sh
  - /tmp/modify_ca.sh
  - rm /etc/ipsec.d/cacerts/master.pem
  - mv /etc/ipsec.d/cacerts/new_master.pem /etc/ipsec.d/cacerts/master.pem
  - rm /tmp/split_certs.sh
  - rm /tmp/tmp_certs
  - rm /tmp/modify_ca.sh
  - rm /tmp/run_split.sh

  # Bring up the iptunnel

  - ipsec restart
