"Username","Email","Password"
"{{ config.security.authentication.username | default('admin') }}","{{ config.security.authentication.email | default('root@'+ansible_hostname) }}","{{ config.security.authentication.password | default("admin") }}"
