user_data:
  auth_data:
    type: nova
    username: YOUR_USERNAME
    password: YOUR_PASSWORD

  resource:
    type: nova
    endpoint: YOUR_ENDPOINT
    network_id: YOUR_NETWORK_ID
    image_id: UBUNTU_16.04_IMAGE_ID
    flavor_name: YOUR_FLAVOUR_TYPE
    server_name: WORKER_NODE
    key_name: YOUR_KEYNAME
    security_groups: [YOUR_SECURITY_GROUP_ID]

  scaling:
    min: 1
    max: 10
