{% if config.security.tls.provision_method -%}

TLS_PROVISION_METHOD={{ config.security.tls.provision_method }}

{% if config.security.tls.provision_method == 'self-signed' or config.security.tls.provision_method == 'letsencrypt' -%}
TLS_PROVISION_HOSTNAME={{ config.security.tls.hostname or 'micado-master' }}
{% endif -%}


{% if config.security.tls.provision_method == 'user-supplied' -%}
read -d '' TLS_PROVISION_CERT << EOF
{{ config.security.tls.cert }}
EOF
read -d '' TLS_PROVISION_KEY << EOF
{{ config.security.tls.key }}
EOF
{% endif -%}

{% else %}
TLS_PROVISION_METHOD='self-signed'
TLS_PROVISION_HOSTNAME='micado-master'
{% endif -%}
