[req]
default_bits  = 4096
distinguished_name = req_distinguished_name
req_extensions = req_ext
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
organizationName = Self-signed certificate
commonName = {{ master_hostname or 'micado-master' }}: Self-signed certificate
[req_ext]
subjectAltName = @alt_names
[v3_req]
subjectAltName = @alt_names
[alt_names]
IP.1 = {{ hostvars['micado']['ansible_host'] }}
DNS.1 = {{ master_hostname or 'micado-master' }}
