main_config:
  dry_run: False
logging:
  version: 1
  disable_existing_loggers: True
  root:
    handlers: [console, file]
    level: DEBUG
  formatters:
    simpleFormatter:
      format: "%(asctime)s %(name)s %(levelname)s %(message)s"
  loggers:
    submitter:
      handlers: [console, file]
      propagate: False
  handlers:
    console:
      class: logging.StreamHandler
      formatter: simpleFormatter
      level: INFO
      stream: ext://sys.stdout
    file:
      class : logging.handlers.RotatingFileHandler
      formatter: simpleFormatter
      level: DEBUG
      mode: a
      filename: /var/log/submitter/submitter.log
      maxBytes: 52428800
      backupCount: 3

step:
  translate:
    - SecurityPolicyManagerAdaptor
    - KubernetesAdaptor
{% if enable_terraform %}
    - TerraformAdaptor
{% endif %}
{% if enable_occopus %}
    - OccopusAdaptor
{% endif %}
    - PkAdaptor
    - AnsibleAdaptor
  execute:
    - SecurityPolicyManagerAdaptor
{% if enable_terraform %}
    - TerraformAdaptor
{% endif %}
{% if enable_occopus %}
    - OccopusAdaptor
{% endif %}
    - KubernetesAdaptor
    - PkAdaptor
    - AnsibleAdaptor
  update:
    - SecurityPolicyManagerAdaptor
{% if enable_terraform %}
    - TerraformAdaptor
{% endif %}
{% if enable_occopus %}
    - OccopusAdaptor
{% endif %}
    - KubernetesAdaptor
    - PkAdaptor
    - AnsibleAdaptor
  undeploy:
    - PkAdaptor
    - KubernetesAdaptor
{% if enable_terraform %}
    - TerraformAdaptor
{% endif %}
{% if enable_occopus %}
    - OccopusAdaptor
{% endif %}
    - SecurityPolicyManagerAdaptor
  cleanup:
    - KubernetesAdaptor
{% if enable_terraform %}
    - TerraformAdaptor
{% endif %}
{% if enable_occopus %}
    - OccopusAdaptor
{% endif %}
    - PkAdaptor
    - AnsibleAdaptor
    - SecurityPolicyManagerAdaptor

adaptor_config:
  KubernetesAdaptor:
    types:
      - "tosca.nodes.MiCADO.Container.Application.Docker"
      - "tosca.policies.Security.MiCADO.Network.*"
    endoint: "endpoint"
    volume: "./files/output_configs/"
    unvalidated_kinds:
      - Certificate
      - ClusterIssuer
    k8s_version: "1.21.0"

  AnsibleAdaptor:
    types:
      - "tosca.nodes.MiCADO.Edge"
    endoint: "endpoint"
    volume: "./files/output_configs/"
    micado_host: "{{ ansible_host }}"
    micado_user: "{{ ansible_user }}"

{% if enable_occopus %}
  OccopusAdaptor:
    types:
      - "tosca.nodes.MiCADO.Compute.*"
    endoint: "endpoint"
    volume: "./files/output_configs/"
{% endif %}

{% if enable_terraform %}
  TerraformAdaptor:
    types:
      - "tosca.nodes.MiCADO.Compute.*"
    endoint: "endpoint"
    volume: "./files/output_configs/"
{% endif %}

  PkAdaptor:
    types:
      - "tosca.policies.Scaling.MiCADO"
    endpoint: "policykeeper:12345"
    volume: "./files/output_configs/"

  SecurityPolicyManagerAdaptor:
    types:
      - "tosca.policies.Security.MiCADO.Secret.KubernetesSecretDistribution"
    endoint: "endpoint"
    volume: "./files/output_configs/"
