apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: node-exporter
  namespace: micado-worker
  labels:
    app.kubernetes.io/name: node-exporter
    app.kubernetes.io/managed-by: micado
    app.kubernetes.io/version: {{ docker_images.node_exporter.split(':')[1] }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: node-exporter
      app.kubernetes.io/managed-by: micado
      app.kubernetes.io/version: {{ docker_images.node_exporter.split(':')[1] }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: node-exporter
        app.kubernetes.io/managed-by: micado
        app.kubernetes.io/version: {{ docker_images.node_exporter.split(':')[1] }}
    spec:
      containers:
      - name: node-exporter
        image: {{docker_images.node_exporter}}
        ports:
        - containerPort: 9100
        resources:
          requests:
            cpu: 25m
        volumeMounts:
        - name: nodex-proc
          mountPath: /host/proc
          readOnly: true
        - name: nodex-sys
          mountPath: /host/sys
          readOnly: true
        args:
          - '--path.procfs=/host/proc'
          - '--path.sysfs=/host/sys'
      priorityClassName: micado-priority
      volumes:
      - name: nodex-proc
        hostPath:
          path: /proc
      - name: nodex-sys
        hostPath:
          path: /sys