#cloud-config
manage_etc_hosts: false
package_upgrade: false

write_files:

- path: /tmp/wait-updates.sh
  permissions: '755'
  content: |
    #!/bin/bash

    while [[ `ps aufx | grep -v "grep" | grep "apt.systemd.daily" | wc -l` -gt 0 ]]; do
      sleep 1
    done

# This script fix the format of cert bundle, and split it into two separate files and copy them to the correct directory
# Occopus should do this.
- path: /tmp/run_split.sh
  permissions: '755'
  content: |
      #!/bin/bash
      /tmp/split_certs.sh $(< /tmp/tmp_certs)

# This script fix the format of cert bundle, and split it into two separate files and copy them to the correct directory
# Occopus should do this.
- path: /tmp/split_certs.sh
  permissions: '755'
  content: |
      #!/bin/bash
      while (( $# )); do if [[ $1 == -----* ]]; then while [[ $1 != *----- ]]; do printf "%s " $1; shift; done; fi; echo $1; shift; done | awk 'BEGIN { of="/etc/ipsec.d/private/node.key" } { print >of } /^-----END/ { of="/etc/ipsec.d/certs/node.crt" }'

# This script fix the format of CA, and copy it to the correct directory
# Occopus should do this.
- path: /tmp/modify_ca.sh
  permissions: '755'
  content: |
      #!/bin/bash
      fmt -w 35 /etc/ipsec.d/cacerts/master.pem |
      awk 'BEGIN { of="/etc/ipsec.d/cacerts/new_master.pem" } { print >of } /^-----END/'


- path: /etc/ipsec.conf
  content: |
    conn iptunnel
       type=transport
       compress=yes
       fragmentation=yes
       keyexchange=ikev2
       authby=pubkey
       leftcert=node.crt
       left=local
       right={{ ansible_default_ipv4.address }}
       rightid="CN=masternode.micado"
       auto=start

- path: /etc/ipsec.secrets
  content: | {% raw %}
    : RSA 'node.key'
    {% endraw %}

- path: /etc/ipsec.d/cacerts/master.pem
  content: | {% raw %}
    {{ master_pem|indent(4) }}
    {% endraw %}

packages:
- apt-transport-https
- ca-certificates
- curl
- software-properties-common

final_message: "MiCADO Worker configured after $UPTIME seconds"

runcmd:
{% if disable_worker_updates %}
  - sed -i 's/APT::Periodic::Unattended-Upgrade "1";/APT::Periodic::Unattended-Upgrade "0";/g' /etc/apt/apt.conf.d/20auto-upgrades
{% endif %}
  - export DEBIAN_FRONTEND=noninteractive
  - /tmp/wait-updates.sh
  - while [ -z $IP ]; do IP=`ip -oneline -4 addr show scope global | tr -s ' ' | tr '/' ' ' | grep -v dock | grep -v br- | cut -f 4 -d ' ' | sed 's/\./-/g'`; done
  - hostname={{ '{{ worker_name }}' }}-$IP
  - oldhostname=$(hostname -s)
  - sed -i "s/$oldhostname//g" /etc/hosts
  - sed -i "s/\b127.0.0.1 localhost/127.0.0.1 localhost\\t$hostname/g" /etc/hosts
  - hostnamectl set-hostname $hostname
  - dpkg-reconfigure openssh-server
  - echo nameserver 8.8.8.8 >> /etc/resolvconf/resolv.conf.d/head
  - resolvconf -u

  # Add Docker & K8s repositories
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -
  - DISTCODE="$(lsb_release -cs)"
  - add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $DISTCODE stable"
  - mkdir /etc/kubeedge
  - curl -L https://github.com/kubeedge/kubeedge/releases/download/v{{ packages.kube_edge }}/keadm-v{{ packages.kube_edge }}-linux-amd64.tar.gz -o /etc/kubeedge/keadm.tar.gz
  - apt-get update

  # Install Docker
  - apt-get install -y {{ packages.docker_ce | regex_replace('ubuntu.*$', 'ubuntu')}}-$DISTCODE {{ packages.docker_ce_cli | regex_replace('ubuntu.*$', 'ubuntu')}}-$DISTCODE {{ packages.containerd_io }}
  - apt-mark hold docker-ce docker-ce-cli containerd.io

  # Install K8s
  - swapoff -a
  - tar -C /etc/kubeedge -xvzf /etc/kubeedge/keadm.tar.gz

  # Placeholder for ADT insert
  - echo micado runcmd placeholder

  # Install strongSwan
  - apt-get install -o Dpkg::Options::="--force-confold" --force-yes -y strongswan
  - systemctl enable strongswan

  # Connect to cluster
  - /etc/kubeedge/keadm-v{{ packages.kube_edge }}-linux-amd64/keadm/keadm join --cloudcore-ipport={{ hostvars['micado']['ansible_host'] }}:10000 --edgenode-name={{ '{{ worker_name }}' }} --kubeedge-version={{ packages.kube_edge }} --token={{ token_kubeedge.stdout }}

  # Certificates management
  - curl --connect-timeout 30 --retry 10 -X POST http://10.97.170.199:5003/v1.0/nodecerts > /tmp/tmp_certs
  - /tmp/run_split.sh
  - /tmp/modify_ca.sh
  - rm /etc/ipsec.d/cacerts/master.pem
  - mv /etc/ipsec.d/cacerts/new_master.pem /etc/ipsec.d/cacerts/master.pem
  - rm /tmp/split_certs.sh
  - rm /tmp/tmp_certs
  - rm /tmp/modify_ca.sh
  - rm /tmp/run_split.sh

  # Bring up the iptunnel
  - ipsec restart