name: MiCADO Tests

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
    - develop

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run ansible-lint
      uses: ansible/ansible-lint-action@master
      with:
        targets: |
          micado.yml
          edge.yml
          worker.yml
    
  play-ubuntu-20:
    runs-on: ubuntu-20.04
    needs: lint
    steps:
    - uses: actions/checkout@v2
    - name: Remove existing K8s installations
      run: sudo apt auto-remove kubectl containernetworking-plugins -y
    - name: Run MiCADO Playbook
      uses: dawidd6/action-ansible-playbook@v2.2.0
      with:
        playbook: micado.yml
        options: --inventory tests/hosts

  play-ubuntu-18:
    runs-on: ubuntu-18.04
    needs: lint
    steps:
    - uses: actions/checkout@v2
    - name: Remove existing K8s installations
      run: sudo apt auto-remove kubectl ansible containernetworking-plugins -y
    - name: Install Ansiblev2.9
      run: sudo apt install python3-setuptools && sudo pip3 install ansible==2.9
    - name: Run MiCADO Playbook
      uses: dawidd6/action-ansible-playbook@v2.2.0
      with:
        playbook: micado.yml
        options: --inventory tests/hosts