{% if security.tls.provision_method | default() -%}

TLS_PROVISION_METHOD={{ security.tls.provision_method }}

{% if security.tls.provision_method == 'self-signed' or security.tls.provision_method == 'letsencrypt' -%}
TLS_PROVISION_HOSTNAME={{ master_hostname or 'micado-master' }}
{% endif -%}


{% if security.tls.provision_method == 'user-supplied' -%}
read -d '' TLS_PROVISION_CERT << EOF
{{ security.tls.cert }}
EOF
read -d '' TLS_PROVISION_KEY << EOF
{{ security.tls.key }}
EOF
{% endif -%}

{% else %}
TLS_PROVISION_METHOD='self-signed'
TLS_PROVISION_HOSTNAME='micado-master'
{% endif -%}
